
.a{
    margin-left: 190px;

}
.lastname{
    /* border: 2px solid red; */
    margin-left:190px;
}
.c{
    margin-left: 185px;
}
.d{
    margin-left: 220px;
}
.e{
    margin-left: 200px;
}
.f{
    margin-left: 170px;
}
.p{
    margin-left: 210px;
}
.g{
    margin-left: 210px;
}
.i{
    margin-left: 210px;
}
.z{
    margin-left: 200px;
}
.btn{
    margin-left: 270px;
    word-spacing: 30px;
}
.dot{
    margin-left: 200px;
}
.pas{
    margin-left: 120px;
}
.age-range{
    margin-left: 200px;
}
.box{
    margin-left: 200px;
}
